.App {
  text-align: center;
  /* background: black; */
}
.App input{
  width: 600px;
  height: 60px;
  color:crimson;
  font-size: larger;
  font-style: italic;
}
body{
  background: black;
}
.pushable {
  background: hsl(340deg 100% 32%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  width:250px;
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 10px;
}
.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}

.linear-gradient {
  font-size: 72px;
  background: -webkit-linear-gradient(purple, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .content{
  border: 2px solid rgb(255, 94, 0);
  border-radius: 20px;
} */